.name {
  color: rgb(207, 33, 141);
}

.title {
  color: rgb(170, 18, 162);
  text-align: center;
  margin-top: 3%;
}

.color-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.color-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0080ff;
  z-index: -1;
  transition: all 0.3s ease;
}

.color-button:hover:before {
  width: 100%;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.slide:hover .caption {
  opacity: 1;
}

.caption h2 {
  font-size: 24px;
  margin-top: 0;
}

.caption p {
  font-size: 16px;
  margin-bottom: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev,
.next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.background {
  background-image: url('https://i.pinimg.com/564x/61/bb/59/61bb59e62b16e2ed5a3369626b0afec1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectName {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.appLogoandTitleLayout {
  display: flex;
  flex-direction: row;
}

.brandName {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 4% 0 0 35px;
}

.appBarLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.layoutIndexContent {
  display: flex;
  flex-direction: column;
}

.discover {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 600;
  word-wrap: break-word;
  margin: 3% 5% 0 40%;
}

.symptomTracker {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 600;
  word-wrap: break-word;
  margin: 3% 40% 0% 5%;
}

.layoutDiscover {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.layoutSymptomTracker {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project_description {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #606060;
  margin: 0 5% 0 40%;
}

.symptracker_description {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #606060;
  margin: 0 40% 0 5%;
}

.mother {
  margin-right: 20%;
  margin-top: 1%;
  margin-bottom: 5%;
}

.symptom {
  margin-left: 20%;
  margin-bottom: 5%;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .appBarLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
  }

  .layoutDiscover {
    flex-direction: column;
  }

  .layoutSymptomTracker {
    flex-direction: column-reverse;
  }

  .project_description {
    margin: 0 5% 0 20%;
  }

  .symptracker_description {
    margin: 0 0 5% 20%;
  }

  .mother {
    margin-left: 30%;
    margin-bottom: 5%;
  }

  .symptom {
    margin-right: 30%;
    margin-bottom: 5%;
  }

  .discover {
    margin: 3% 5% 0 20%;
  }

  .symptomTracker {
    margin: 3% 0 0 20%;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  /* Change from "inline" to "column" */
  margin-left: 35%;
  /* Add overflow-y property for vertical scrolling */

}

.card {
  background-color: rgb(224, 127, 173);
  width: 350px;
  /* Adjust the width as needed */
  height: 500px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 0px 10px 10px rgba(2, 2, 2, 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.cardImage {
  width: 250px;
  height: 250px;
  /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 20px;
}

.cardContent {
  font-family: 'Montserrat', sans-serif;

  margin-top: 10px;
  text-align: center;
  margin-left: 20px;
}

.titleLifestyle {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 2px;
}

.cardContent h2 {
  font-family: 'Montserrat', sans-serif;

  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;

}

.cardContent p {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;

  font-size: 13px;
  margin-top: 2px;
}